body {
	font-family: 'Montserrat', sans-serif;
}

#header-container,
#info-container {
	background-color: #99C84A;
	color: white;
}

#header-container .login {
	color: white;
}

#menu-container {
	background-color: #F7F7F9;
}

.btn.btn-platzi {
	background-color: #99C84A;
	color: white;
}

.btn.btn-platzi:hover {
	background-color: #8AB542;
}

input.form-control:focus {
	border-color: #99C84A;
}

#search-bar {
	padding: 1em;
}

#productosCarousel img {
	display: inline-block;
	margin: 0 auto;
}

#info-container h4 {
	padding: 1em 0;
}

#info-container img {
	margin: 0 auto;
	margin-top: 1em;
}

#footer-container {
	background-color: #1C3643;
	color: white;
	padding: 3em 0;
}

#footer-container {
	font-size: 16px;
}

#footer-container .nav-link {
	color: white;
}

@media (max-width: 768px) {
	#footer-container [class*="col-"] {
		margin-bottom: 
	}
}